<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Parametros</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Nivel</label>
                                        <select class="form-control">
                                            <option value="1">Portafolio</option>
                                            <option value="2">Sub Portafolio</option>
                                            <option value="3">Producto</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Portafolio</label>
                                        <select class="form-control">
                                            <option value="consumo">consumo</option>
                                            <option value="corporativo">corporativo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Sub Portafolio</label>
                                        <select class="form-control">
                                            <option value="consumo">consumo</option>
                                            <option value="corporativo">corporativo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Producto</label>
                                        <select class="form-control">
                                            <option value="consumo">consumo</option>
                                            <option value="corporativo">corporativo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Fecha Actual</label>
                                        <input type="date" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Fecha Anterior</label>
                                        <input type="date" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-info btn-fill">Guardar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="title">Reglas de Reportes</h4>
                            </div>
                            <div class="col-md-3">
                                <label class="pull-right">
                                    <input type="checkbox" value="">
                                    Todos
                                </label>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-danger btn-xs pull-right">
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Nivel</th>
                                        <th>Cartera</th>
                                        <th>Parametro #1</th>
                                        <th>Parametro #2</th>
                                        <th>Parametro #3</th>
                                        <th>Parametro #4</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Consumo</td>
                                        <td>0.08</td>
                                        <td>0.14</td>
                                        <td>0.08</td>
                                        <td>0.14</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Corporativo</td>
                                        <td>0.94</td>
                                        <td>0.73</td>
                                        <td>0.94</td>
                                        <td>0.73</td>
                                    </tr>
                                </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

