<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Parametros</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Rango General</label>
                                        <input type="number" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-fill">Aplicar</button>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Nivel</label>
                                        <select class="form-control">
                                            <option value="consumo">Portafolio</option>
                                            <option value="corporativo">Sub Portafolio</option>
                                            <option value="corporativo">Producto</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill">Visualizar</button>
                            <button type="submit" class="btn btn-success btn-fill">Guardar</button>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Rangos e Incumplimientos</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Nivel</th>
                                        <th>Cartera</th>
                                        <th>Parametro #1</th>
                                        <th>Parametro #2</th>
                                        <th>Parametro #3</th>
                                        <th>Parametro #4</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Consumo</td>
                                        <td>0.08</td>
                                        <td>0.14</td>
                                        <td>0.08</td>
                                        <td>0.14</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Corporativo</td>
                                        <td>0.94</td>
                                        <td>0.73</td>
                                        <td>0.94</td>
                                        <td>0.73</td>
                                    </tr>
                                </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

