<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" >{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
            
            <ul class="nav navbar-nav navbar-right" *ngIf="sectionUrl === 'inicio' ">
                <li>
                    <a href="#">
                        <p>Cerrar Sesión</p>
                    </a>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" *ngIf="sectionUrl === 'indicadores' ">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p>
                            Gestión
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['indicadores/gestion/carteras']">Carteras</a></li>
                        <li><a [routerLink]="['indicadores/gestion/insumos']">Insumos</a></li>
                        <li><a [routerLink]="['indicadores/gestion/garantias']">Garantías</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p>
                            PD
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['indicadores/pd/calificaciones']">Calificaciones</a></li>
                        <li><a [routerLink]="['indicadores/pd/ajuste']">Ajuste</a></li>
                        <li><a [routerLink]="['indicadores/pd/generacion']">Generación</a></li>
                        <li><a [routerLink]="['indicadores/pd/copiar']">Copiar PD</a></li>
                        <li><a [routerLink]="['indicadores/pd/reportes-mensuales']">Reportes Mensuales</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p>
                            LGD
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['indicadores/lgd/individual']">Individual</a></li>
                        <li><a [routerLink]="['indicadores/lgd/volatilidad']">Volatilidad</a></li>
                        <li><a [routerLink]="['indicadores/lgd/simulacion-montecarlo']">Simulación Montecarlo</a></li>
                        <li class="divider"></li>
                        <li><a [routerLink]="['indicadores/lgd/colectiva']">Colectiva</a></li>
                        <li class="divider"></li>
                        <li><a [routerLink]="['indicadores/lgd/castigos']">Castigos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p>
                            Generación
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['indicadores/generacion/ajuste-lgd']">Ajuste LGD</a></li>
                        <li><a [routerLink]="['indicadores/generacion/aplicacion']">Aplicación</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <p>Cerrar Sesión</p>
                    </a>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" *ngIf="sectionUrl === 'creditos' ">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p>
                            Reglas
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['creditos/stage']">STAGE</a></li>
                        <li><a [routerLink]="['creditos/pd']">PD</a></li>
                        <li><a [routerLink]="['creditos/lgd']">LGD</a></li>
                        <li><a [routerLink]="['creditos/lgd/escalas']">Escalas LGD</a></li>
                        <li><a [routerLink]="['creditos/ead']">EAD</a></li>
                        <li><a [routerLink]="['creditos/ccf']">CCF</a></li>
                        <li><a [routerLink]="['creditos/vencimiento']">Vencimiento</a></li>
                        <li><a [routerLink]="['creditos/fl']">Forward Looking</a></li>
                        <li><a [routerLink]="['creditos/materialidad']">Materialidad</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p>
                            Resultados
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['creditos/vista-previa']">Vista Previa</a></li>
                        <li><a [routerLink]="['creditos/reportes']">Reportes</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <p>Cerrar Sesión</p>
                    </a>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" *ngIf="sectionUrl === 'inversiones' ">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p>
                            Insumos
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['inversiones/insumos/operaciones']">Operaciones</a></li>
                        <li><a [routerLink]="['inversiones/insumos/cds']">CDS</a></li>
                        <li><a [routerLink]="['inversiones/insumos/curva-pd']">Curva PD</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p>
                            Reglas
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['inversiones/reglas/stage']">STAGE</a></li>
                        <li><a [routerLink]="['inversiones/reglas/calculo']">Cálculo</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p>
                            Resultados
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['inversiones/resultados/vista-previa']">Vista Previa</a></li>
                        <li><a [routerLink]="['inversiones/resultados/reportes']">Reportes</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <p>Cerrar Sesión</p>
                    </a>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" *ngIf="sectionUrl === 'configuracion' ">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p>
                            Seguridad
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Usuarios</a></li>
                        <li><a href="#">Bitacoras</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <p>Base de Datos</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p>Dominio</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p>Cerrar Sesión</p>
                    </a>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>

        </div>
    </div>
</nav>
